{% extends './layout.html' %}
{% load static %}

{% block content %}
    {{ block.super }}
    <title>Shop</title>
    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="검색" />
    </form>

</head>
<hr>
<body>
    {{ request }} <br/>
    request.method: {{ request.method }} <br/>
    request.GET: {{ request.GET }} <br/>
    request.META: {{ request.META }}
    <hr/>
    {{ item_list }}
    <hr>
    {% for item in item_list %}
        {{ item }} <br>
    {% endfor %}
    <hr>
    {% for item in item_list %}
        {{ item.name }} #
        {{ item.desc }} #
        {{ item.price }} #
        {{ item.created_at }} #
        {{ item.updated_at }}
        {{ item.review }} #
    {% endfor %}


    <hr>
    <table>
        <thead>
            <th>번호</th>
            <th>이름</th>
            <th>설명</th>
            <th>등록 일시</th>
            <th>수정 일시</th>
            <th>리뷰</th> ###
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td> {{ item.id }} </td>
                <td>
                    <a href="{% url 'shop:item_detail' pk=item.pk %}">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'shop:item_edit' pk=item.pk %}">
                        {{ item.desc }}
                    </a>
                </td>
                <td> {{ item.created_at }} </td>
                <td> {{ item.updated_at }} </td>
                <td> {{ item.review }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}